/* Estilos generales */


#contenedor div {
    border: 1px solid;
    color: rgb(2, 134, 24);
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    

}

/* Media query para pantallas entre 768px y 1024px en landscape */
@media screen and (min-width: 700px) and (max-width: 1000px) and (orientation: landscape) {
    #contenedor {
        background: blue;
        flex-direction: column;
        display: flex; /* Cambia la dirección del layout a fila */
        width: 80%;
    }

}
